<html>
<head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<link type="text/css" rel="stylesheet" href="../static/cars.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<script type="text/javascript" src="../static/base.js"></script>

</head>

<body>

<form action="/" method=post>
    <dl>
        <dt>Username: 
        <dd><input type=text name=username value="noname">
        <dd><input type=submit value="Go!">
    </dl>
</form>

</body>
</html>